@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'GmarketSansMedium', sans-serif;
}

body{

    background-color: #ecf4fb;
}


.fullimg{

    width: 100%;
    min-height: 100vh;

    position: fixed;
    left:0;
    top:0;
    background-color: #222e;

    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;

    z-index: 100;

    
}

.fullimg img{
    width: 90%;
    max-width: 500px;
}

.fullimg span{

    font-size:20px;
    color:#fff;

    position: absolute;

    top:2%;
    right:2%;

    cursor: pointer;

}
.image_gallery{

    width:80%;
    margin:100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:35px;    

}


.image_gallery img{
  width:100%;
  cursor: pointer;
  transition: 0.5s;
}

.image_gallery img:hover{
    
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(76, 74, 74, 0.9);
    
}
  
